script(type="text/template" template-name="templates/index")
	include templates/index.pug
script(type="text/template" template-name="templates/morris")
	include templates/morris.pug
script(type="text/template" template-name="templates/chartjs")
	include templates/chartjs.pug
//- script(type="text/template" template-name="templates/systemDashboard")
	include templates/systemDashboard.pug
